.Marcas{
    height: 100px;
    background-color:darkred;
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(17,4,2,0.7);
}

.menu{
    list-style: none;
    display: flex;
    justify-content: right;
    padding: 40px;
    color: cornsilk;
    font-size: xx-large;
    font-family: 'Arial';
}

nav ul li{
    margin: 20px;

}

.caixa{
    width: 200px;
    height: 600px;
    background-color: brown;
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(17, 4, 2, 0.7);
}

body{
    background-image: url(20220504-ovicio-god-war-ragnarok-1_f8xh.avif);
    background-repeat:no-repeat;
    background-size:cover;
}